body{
	margin: auto;
	background-color:#F2FDFF;
}

a{
	text-decoration:none;
}

.nav{
	text-align:right;
	
}

.navbtn{
	margin-left:20px;
	margin-right:20px;
	font-size: 20px;
}

a:hover{
	background-color:#b3ecff;
}

.hr{
	border: 2px solid black;
	margin:0;
    padding:0;
}


.footer{
	margin:0;
    padding:0;
}

.footerdiv {
    width: 100%;
    height: 100px;
    background-image: url(../images/footer.png);
    background-size: 100% 100%;
}​
h1{
	
	font-size:30px;
	color:black;
}
b{
	color:black;
	font-size:20px;
}
.subm{
	color:blue;
	size:30px;
}
.para{
	color:black;
	font-size:20px;
}
.txt{
	font-size:20px;
	color:black;
}
.emil{
	font-size:20px;
	color:black;
}
.phn{
	font-size:20px;
	color:black;
	
}



