body{
	margin: auto;
	background-color:#F2FDFF;
}

a{
	color: white;
	text-decoration:none;
}

.nav{
	text-align:right;
	
}

.navbtn{
	margin-left:20px;
	margin-right:20px;
	font-size: 20px;
	color: black;
}

a:hover{
	color: white;
	background-color:#3035FF;
}

.hr{
	border: 2px solid black;
	margin:0;
    padding:0;
}


.footer{
	margin:0;
    padding:0;
}

.footerdiv {
    width: 100%;
    height: 100px;
    background-image: url(../images/footer.png);
    background-size: 100% 100%;
}​

h1{
    
	font-size:40px;
}

th, td{
	overflow: auto;
	height: 40px;
	width:16.6%;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

tr:hover{
	background-color: #D3F6FC;
}

th{
	background-color: #A4C7FE;
}

	
